.page-header {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background-color: $bg-head;
  flex: 0 0 auto;

  a {
    color: #fff;
  }
}

.header-title {
  font-size: 24px;
}

.dashboards {
  padding-bottom: 20px;
  text-align: center;
  flex: 1 0 auto;

  .l-flex {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.chart {
  width: $chart-size;
  height: $chart-size;
  position: relative;
}

.chart-img {
  width: 100px;
  height: 100px;
  top: 0;
  right: 0;
  position: absolute;
  display: none;
  background-color: #000;
}

.chart-img.show {
  display: block;
}

.js-plotly-plot .plotly:hover .modebar--hover {
  display: none;
}

.photos-bar img {
  margin: 0 10px;
  margin-bottom: 10px;
}

.page-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $bg-foot;
  text-align: right;
  color: #fff;
  flex: 0 0 auto;
}

.logo-akvelon {
  width: 200px;
  height: auto;
}
