@mixin reset-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin m-btn {
  display: inline-block;
  padding: 20px 20px;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $font-b;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  border: none;
  outline: none;
  color: #fff;
  background-color: $btn-c;
  cursor: pointer;
}

@mixin m-icon($icon-name) {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    @include sprite($icon-name);
  }
}
