// Variables
$min-width: 320px;
$xs-min: 480px;
$xxs-max: ($xs-min - 1);
$sm-min: 768px;
$xs-max: ($sm-min - 1);
$md-min: 992px;
$sm-max: ($md-min - 1);
$lg-min: 1200px;
$md-max: ($lg-min - 1);

// Usage
// @media (max-width: $xs-max) { ... }
// @media (min-width: $sm-min) { ... }
// @media (max-width: $sm-max) { ... }
// @media (min-width: $md-min) { ... }
// @media (max-width: $md-max) { ... }
// @media (min-width: $lg-min) { ... }

$bg-foot: #212121;
$bg-head: #424242;

$btn-c: #3f51b5;
$btn-h: #ff4081;
$btn-a: rgba(0,0,0,.26);

$font:  Tahoma, Verdana, sans-serif;
$font-b: 'Trebuchet MS', Tahoma, sans-serif;

$chart-size: 400px;
